<div id="<%= dom_id record %>">
  <div>
    <strong>User:</strong>
    <%= record.user_id %>
  </div>

  <div>
    <strong>Start time:</strong>
    <%= record.start_time %>
  </div>

  <div>
    <strong>End time:</strong>
    <%= record.end_time %>
  </div>

  <div>
    <strong>Library:</strong>
    <%= record.library_id %>
  </div>

</div>
